@charset "utf-8";
/* ------------------------- breadclumb  ------------------------- */
.breadclumb {
    width: 100%;
    @include clearafter;
    border-bottom: 1px solid #e3e3e3;
    //margin-bottom: 62px;
    z-index: 1;
    position: relative;
    .inner {
        width: $contWidth;
        margin: 0 auto;
        &:after {
            @include clearafter;
        }
    }
    .home {
        float: left;
        width: 109px;
        line-height: 60px;
        text-align: center;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        &:before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            background: image('icon_set.png') no-repeat -6px 0;
            margin-right: 5px;
            vertical-align: middle;
            margin-top: -5px;
        }
    }
    .dir {
        float: left;
        width: calc(100% - 109px);
        & > li {
            float: left;
            width: 305px;
            position: relative;
            border-right: 1px solid #e3e3e3;
            box-sizing: border-box;
            > a {
                display: block;
                line-height: 40px;
                padding: 10px 25px 10px 10px;
                position: relative;
                @include font-size(1.5);
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    right: 10px;
                    top: 25px;
                    width: 15px;
                    height: 15px;
                    background: image('icon_set.png') no-repeat -138px -72px;
                    transition: all 1s ease;
                }
                &.current {
                    padding: 9px 10px;
                    border-bottom: 2px solid #097c97;
                    color: #0a7d98;
                    @include font-size(1.6);
                    @include Noto-Medium;
                }
            }
            &.open {
                > a {
                    &:after {
                        transform: rotate(-180deg);
                        transition: all 0.5s ease;
                    }
                }
            }
        }
        &.num-2 {
            & > li {
                width: calc(915px / 2);
                .bsm {
                    width: calc((915px / 2) + 1px);
                }
            }
        }
        &.num-3 {
            & > li {
                width: calc(915px / 3);
                .bsm {
                    width: calc((915px / 3) + 1px);
                }
            }
        }
        &.num-4 {
            & > li {
                width: calc(915px / 4);
                .bsm {
                    width: calc((915px / 4) + 1px);
                }
            }
        }
        &.no-sub {
            & > li {
                &.open {
                    > a {
                        &:after {
                            transform: none;
                        }
                    }
                }
            }
        }
    }
    .bsm {
        display: none;
        position: absolute;
        left: -1px;
        top: 100%;
        border: 1px solid #e3e3e3;
        border-top: 0;
        //width: 306px;
        //width: calc(100% + 1px);
        box-sizing: border-box;
        padding: 10px 0;
        background: #fff;
        & > li {
            a {
                padding: 10px;
                display: block;
                line-height: 5px;
            }
        }
    }
}
