@charset "utf-8";
/* ------------------------- Footer  ------------------------- */
.footer {
    background: #323941;
    color: #fff;
    @include font-size(1.4);
    .inner {
        width: $layWidth;
        margin: 0 auto;
        overflow: hidden;
        padding: 30px 0 0;
    }
    .colL {
        float: left;
        ul {
            margin-bottom: 20px;
        }
        li {
            display: inline-block;
            margin-right: 10px;
            a {
                display: block;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 2px;
                    background: #fff;
                    vertical-align: middle;
                    margin-right: 7px;
                }
            }
            &:first-child {
                a {
                    &:before {
                        display: none;
                    }
                }
            }
        }
        p {
            margin-bottom: 10px;
            span {
                margin-right: 10px;
                &:before {
                    content: '';
                    display: inline-block;
                    border-left: 1px solid #fff;
                    height: 12px;
                    padding-right: 10px;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .colR {
        float: right
    }
    .copyright {
        @include font-size(1.2);
        font-family: 'Lato', snas-serif;
    }
    .cs-select {
        background: transparent;
        min-width: 50px;
        margin-left: 20px;
        select {
            width: 100%;
            padding: 7px 30px 7px 10px;
            border: 0;
            border-radius: 0;
            background: image('cs_select1.png') no-repeat right 2px;
            @include font-size(1.4);
            color: #fff;
            option {
                color: #333;
            }
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
