@charset "utf-8";
/* ------------------------- Layout  ------------------------- */
body {
	background: #f5f5f6;
}
.header {
	padding: 30px 0;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #ededed;
	a {
		display: inline-block;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	@include mq(lg) {
		padding: 30px 30px 7px;
		text-align: left;
		a {
			display: inline-block;
			width: 202px;
		}
	}
}
.contents-wrap {
	@include fs(padding-top, (sm: 25px, md: 50px, lg: 30px));
	@include fs(padding-bottom, (sm: 25px, md: 50px, lg: 30px));
	@include fs(padding-left, (sm: 15px, md: 30px, lg: 30px));
	@include fs(padding-right, (sm: 15px, md: 30px, lg: 30px));
	.cont {
		border: 2px solid #ededed;
		background: #fff;
		margin: 0 auto;
		max-width: 800px;
		@include fs(padding-top, (sm: 30px, md: 30px, lg: 58px));
		@include fs(padding-left, (sm: 15px,  md: 28px,  lg: 58px ));
		@include fs(padding-right, (sm: 15px,  md: 28px,  lg: 58px ));
	}
}
.footer {
	background: #424240;
	color: #fff;
	@include fs(font-size, $mapFoot);
	@include fs(padding-left, (sm: 15px, md: 30px, lg: 30px));
	@include fs(padding-right, (sm: 15px, md: 30px, lg: 30px));
	padding-top: 30px;
	padding-bottom: 20px;
	overflow: hidden;
	width: 100%;
	.foot-info {
		margin-top: 20px;
		line-height: 1.6;
	}
	@include mq(lmd) {
		a { float: left; padding-top: 20px; }
		.foot-info {
			float: left;
			margin-top: 0;
			margin-left: 50px;
		}
	}
}
