@charset "utf-8";
/* ------------------------- GNB  ------------------------- */
.topNav {
    width: 100%;
    //overflow: hideen;
    @include clearafter;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .logo {
        float: left;
    }
    &--inner {
        width: $layWidth;
        margin: 0 auto;
    }
    &.over {
        background: #097d97;
    }
}
.wrapper {
    .header.shrink {
        position: fixed;
        width: 100%;
        background: #097d97;
        z-index: 100;
        top: 0;
        .topNav__utill {
            display: none;
        }
    }
}
/* ------------------------- LNB  ------------------------- */
//$navHeight: 352px;
//$navDep: 5px 10px;
// $navHeight: 43px * max depth3 갯수
$navHeight: 430px;
$navDep: 9px 10px;
// /* LNB Size */
.lnb-wrap {
    padding-left: 100px;
}
.nav {
    .lnb { width: 700px; }
    .sm {
        min-height: $navHeight;
        .kv-nav {
            //margin-left: -314px;
            margin-left: -370px;
            min-height: $navHeight;
            .cont {
                width: 270px;
                padding: 60px 0 0 0;
            }
        }
        &--inner {
            max-width: $layWidth;
            padding-left: 270px;
            min-height: $navHeight;
        }
    }
}
.util {
    width: 284px;
}
// /* LNB Size */
.lnb-wrap {
    float: left;
    height: 50px;
}
.nav {
    color: $cdark;
    @include clearfix;
    margin: 0;
    .lnb {
        float: left;
        & > li {
            float: left;
            text-align: center;
            @include font-size(1.6);
            & > a {
                line-height: 50px;
                padding: 0 17px;
                display: block;
                color: #fff;
            }
            &:hover {
                //&:after {
                //    content: '';
                //    background: $menu-bar;
                //    height: 4px;
                //    width: 100%;
                //    display: block;
                //    margin-top: -4px;
                //}
                .sm {
                    display: block;
                }
            }
            &.act {
                //&:after {
                //    content: '';
                //    background: $menu-bar;
                //    height: 4px;
                //    width: 100%;
                //    display: block;
                //    margin-top: -4px;
                //}
                > a {
                    color: $menu-bar;
                }
                .sm {
                    display: block;
                    //transition: all 0.4s ease 0s;
                    //opacity: 1;
                }
            }
            &:first-child {
                & > a {
                    //padding-left: 70px;
                }
            }
            &:last-child {
                & > a {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    border-bottom: 0;
                    padding: 0 10px;
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 20px;
                        background: image('icon_set.png') no-repeat -75px -5px;
                        margin-left: 5px;
                        margin-bottom: -2px;
                        //vertical-align: middle;
                    }
                }
            }
        }
    }
    .sm {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        background: #f4f4f4;
        //opacity: .9;
        text-align: left;
        display: none;
        padding: 0 0 0;
        //min-height: $navHeight;
        color: $cdark;
        z-index: 10;
        border-bottom: 1px solid #ccc;
        //&:before {
        //    width: 100%;ㅐ
        //    background: #000;
        //    content: '';
        //    display: block;
        //    height: 50px;
        //}
        .kv-nav {
            position: absolute;
            left: 0;
            width: 50%;
            top: 0;
            background: image('temp/nav-kv_02.jpg') no-repeat right top;
            //margin-left: -304px;
            //min-height: $navHeight;
            background-size: cover;
            .cont {
                //width: 336px;
                float: right;
                color: #fff;
                //padding: 60px 0 0 15px;
                .name {
                    color: #2ca9c9;
                    @include Noto-Regular;
                    @include font-size(1.8);
                }
                strong {
                    @include Noto-Medium;
                    @include font-size(4.4);
                    display: block;
                    margin: 5px 0 10px;
                }
                p {
                
                }
            }
            &.kv-nav--01 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
            &.kv-nav--02 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
            &.kv-nav--03 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
            &.kv-nav--04 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
            &.kv-nav--05 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
            &.kv-nav--06 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
            &.kv-nav--07 {
                background: image('temp/nav-kv_02.jpg') no-repeat right top;
                background-size: cover;
            }
        }
        &--inner {
            //max-width: $layWidth;
            //overflow: hidden;
            position: relative;
            margin: 0 auto 0;
            //padding-left: 336px;
            //min-height: $navHeight;
            &:after {
                @include clearafter;
            }
        }
        a {
            position: relative;
            //&:after {
            //    content: '';
            //    display: inline-block;
            //    position: absolute;
            //    right: 0;
            //    top: 0;
            //    width: 11px;
            //    height: 18px;
            //    background: url(../../images/icon_set.png) no-repeat -251px -69px;
            //    //transform: rotate(-90deg);
            //}
            //&.no-sub {
            //    &:after {
            //        display: none;
            //    }
            //}
        }
    }
    .util {
        float: right;
        ul {
            float: left;
            li {
                float: left;
            }
        }
    }
}
.lnb {
    $smwidth: 325px;
    $smlast: 350px;
    .dep2 {
        position: relative;
        min-height: $navHeight;
        border-right: 1px solid $tbl-bd-line;
        background: #fff;
        width: $smwidth;
        a:not(:only-child):after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            width: 11px;
            height: 18px;
            background: url(../../images/icon_set.png) no-repeat -251px -69px;
            //transform: rotate(-90deg);
        }
        a[target=_blank]:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            width: 21px;
            height: 18px;
            background: image('icon_set.png') no-repeat -41px -5px;
            
            //transform: rotate(-90deg);
        }
        > li {
            width: $smwidth;
            padding: $navDep;
            //position: relative;
            //border-top: 1px solid $tbl-bd-line;
            border-right: 1px solid $tbl-bd-line;
            border-bottom: 1px solid $tbl-bd-line;
            background: #fff;
            &:first-child {
                border-top: 0;
            }
            > a {
                display: block;
            }
            &.open,
            &:hover {
                background: #fafafa;
            }
            &.open {
                .dep3 {
                    display: block;
                }
            }
        }
        .dep3 {
            position: absolute;
            top: 0;
            left: $smwidth;
            width: $smwidth;
            display: none;
            height: 100%;
            background: #fafafa;
            border-right: 1px solid $tbl-bd-line;
            > li {
                width: $smwidth;
                padding: $navDep;
                //position: relative;
                border-bottom: 1px solid $tbl-bd-line;
                a:not(:only-child):after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 11px;
                    height: 18px;
                    background: url(../../images/icon_set.png) no-repeat -251px -69px;
                }
                > a {
                    display: block;
                    &:after {
                        display: none;
                    }
                    //&.has-sub:after {
                    //    //content: '';
                    //    //display: inline-block;
                    //    //position: absolute;
                    //    //right: 0;
                    //    //top: 0;
                    //    //width: 11px;
                    //    //height: 18px;
                    //    //background: url(../../images/icon_set.png) no-repeat -251px -69px;
                    //    ////transform: rotate(-90deg);
                    //}
                }
                &.open,
                &:hover {
                    background: #5e6e88;
                    color: #fff;
                    //a.has-sub:after {
                    //    //background: url(../../images/icon_set.png) no-repeat -232px -69px;
                    //}
                    a:not(:only-child):after {
                        background: url(../../images/icon_set.png) no-repeat -232px -69px;
                    }
                }
                &.open {
                    .dep4 {
                        display: block;
                    }
                }
            }
        }
        .dep4 {
            position: absolute;
            top: 0;
            left: $smwidth;
            width: $smlast;
            display: none;
            height: 100%;
            background: #fff;
            border-right: 1px solid $tbl-bd-line;
            > li {
                float: left;
                width: 50%;
                padding: $navDep;
                background: #fff;
                color: #666;
                //position: relative;
                > a {
                    display: block;
                    &:after {
                        display: none;
                    }
                }
                //&.open,
                //&:hover {
                //    background: #fff;
                //    color: #666;
                //    .dep4 {
                //        display: block;
                //    }
                //}
            }
        }
    }
}
.nav {
    .util {
        color: #fff;
        padding: 0;
        li {
            margin-left: 15px;
            line-height: 50px;
            &:first-child {
                margin-left: 0;
            }
        }
        a {
            line-height: 50px;
        }
        .cs-select {
            background: transparent;
            color: #fff;
            select {
                padding: 3px 29px 3px 20px;
                color: #fff;
                background: image('cs_select.png') no-repeat right -11px;
                option {
                    color: #333;
                    background: transparent;
                }
            }
        }
    }
}
.top-search {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-top: 0;
    z-index: 10;
    display: none;
    .inner {
        width: 914px;
        margin: 0 auto;
        padding: 25px 0 50px;
    }
    .search-box {
        border-bottom: 2px solid #000;
        position: relative;
        padding: 0 0 10px 0;
        background: #fff;
        input {
            border: 0;
            line-height: 41px;
            height: 41px;
            width: 100%;
            padding-right: 20px;
            box-sizing: border-box;
            @include font-size(1.6);
        }
        button {
            position: absolute;
            top: 8px;
            right: 10px;
            background: transparent;
            cursor: pointer;
            &:before {
                content: '';
                display: inline-block;
                width: 28px;
                height: 30px;
                background: image('common/icon_set.png') no-repeat -170px -164px;
            }
        }
    }
    .favor-word {
        text-align: center;
        padding: 10px 0 0 0;
        strong {
            @include font-size(2);
            //@include Noto-Bold;
            color: #9a7b5e;
        }
        ul {
            margin-left: -4px;
            margin-right: -4px;
            text-align: left;
        }
        li {
            display: inline-block;
            margin: 4px;
            float: none;
            a {
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 8px 30px;
                &:hover,
                &.active {
                    border: 1px solid #9a7b5e;
                    color: #9a7b5e;
                }
            }
        }
    }
}
.util {
    position: relative;
    //width: 284px;
    //width: 164px;
    .lang-wrap {
        float: left;
        & > li {
            position: relative;
            box-sizing: border-box;
            text-align: left;
            margin-left: 0;
            > a {
                display: block;
                line-height: 50px;
                padding: 0 25px 0 0;
                position: relative;
                @include font-size(1.6);
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 17px;
                    width: 15px;
                    height: 15px;
                    background: image('icon_set.png') no-repeat -165px -73px;
                }
                &.current {
                    padding: 9px 10px;
                    border-bottom: 2px solid #097c97;
                    color: #0a7d98;
                    @include font-size(1.6);
                    @include Noto-Medium;
                }
            }
        }
        .lang {
            display: none;
            position: absolute;
            left: -1px;
            top: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            //width: 306px;
            //width: calc(100% + 1px);
            box-sizing: border-box;
            padding: 10px 0;
            background: rgba(0, 0, 0, 0.2);
            //opacity: .7;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
            & > li {
                text-align: left;
                margin-left: 0;
                a {
                    padding: 10px;
                    display: block;
                    line-height: 5px;
                    @include font-size(1.4);
                }
            }
        }
    }
    .mode {
        &:before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 24px;
            background: image('icon_set.png') no-repeat -109px -6px;
            margin-right: 2px;
            vertical-align: middle;
        }
    }
    //.icon-search {
    //    position: relative;
    //    a {
    //        &:before {
    //            content: '';
    //            display: inline-block;
    //            width: 30px;
    //            height: 24px;
    //            background: image('icon_set.png') no-repeat -142px -6px;
    //            margin-right: 2px;
    //            vertical-align: middle;
    //        }
    //    }
    //    .search-box {
    //        position: absolute;
    //        left: 0;
    //        top: 0;
    //        border: 1px solid red;
    //        width: 100%;
    //        .inbox {
    //            width: 80%;
    //            height: 50px;
    //        }
    //        button {
    //            &:before {
    //                content: '';
    //                display: inline-block;
    //                width: 30px;
    //                height: 24px;
    //                background: image('icon_set.png') no-repeat -142px -6px;
    //                margin-right: 2px;
    //                vertical-align: middle;
    //            }
    //        }
    //    }
    //}
    .search{
        display: block;
        position: absolute;
        //top: 8px;
        top: 5px;
        right: 10px;
        //transform: translate(-50%, -50%);
        .close{
            display: none;
            text-indent: -99999px;
            background: transparent;
            width: 45px;
            height:31px;
            border-radius: 40px;
            position: absolute;
            right: 3px;
            top: 3px;
            z-index: 99999999999;
            &:hover{
                cursor: pointer;
            }
            &.active{
                display: block;
            }
        }
        &-icon{
            border: 2px solid #fff;
            //height: 23px;
            //width: 23px;
            height: 16px;
            width: 16px;
            border-radius: 40px;
            transition: all 350ms ease-in-out;
            cursor: pointer;
            margin-top: 8px;
            display: inline-block;
            span{
                display: block;
                //height: 12px;
                //width: 4px;
                height: 10px;
                width: 3px;
                background: #fff;
                border-radius: 0 0 2px 2px;
                transform: rotate(-45deg);
                position: absolute;
                //top: 18px;
                top: 24px;
                right: 0;
                transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                &:after{
                    content: '';
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    background: #fff;
                    height: 20px;
                    width: 4px;
                    border-radius: 2px;
                    transform: rotate(90deg);
                    transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                }
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    background: #fff;
                    height: 10px;
                    width: 4px;
                    border-radius: 2px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                }
            }
            
            &.active{
                width: 280px;
                height: 37px;
                border-radius: 40px;
                box-sizing: border-box;
                background: #fff;
                margin-top: 0;
                span{
                    background: #333;
                    height: 20px;
                    border-radius: 2px;
                    top: 8px;
                    right: 22px;
                    width: 4px;
                    transform: rotate(45deg);
                    transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                    &:after{
                        background: #333;
                        visibility: visible;
                        opacity: 1;
                        transform: rotate(-90deg);
                        transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                    }
                    &.ready{
                        transform: rotate(-90deg);
                        &:after{
                            position: absolute;
                            height:10px;
                            top: 11px;
                            right: -3px;
                            transform: rotate(-135deg);
                            transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                        }
                        &:before{
                            visibility: visible;
                            background: #333;
                            opacity: 1;
                            top: 11px;
                            right: 3px;
                            transform: rotate(135deg);
                            transition: 350ms 200ms ease-in-out, rotate 300ms ease-in-out;
                            
                        }
                    }
                }
                input{
                    display: block;
                    //width: calc(80% - 20px);
                    width: calc(100% - 65px);
                    height: 100%;
                    padding: 0;
                    border: 0;
                    margin: -2px 0 0 20px;
                    clip: auto;
                    vertical-align: top;
                    box-sizing: border-box;
                    &:focus{
                        outline: none;
                        
                    }
                }
            }
        }
        input{
            //display: none;
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }
}
