/* Board Style */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}
.tbl-list {
    border-top: 2px solid #333;
    margin-bottom: 1.5rem;
    td, th {
        padding: 10px 0;
        border: 1px solid #ccc;
        text-align: center;
        @include fs(font-size, 320px, 1200px, 9px, 14px);

    }
    .not-mo {
        display: none;
    }
    thead {
        th {
            background: #f5f4f4;
            @include Noto-Regular;
            color: #777;
        }
    }
    tbody {
        td {
            padding: 10px 0;
            @include Noto-Light;
            color: #222;
            a {
                display: block;
                text-align: left;
                padding-left: 10px;
                &.del {
                    text-align: center;
                    padding: 0;
                    @include Noto-Bold;
                    color: $pcolor;
                }
            }
        }
    }
    &.fixed {
        table {
            //table-layout: fixed;
        }
    }
    @include mq(sm) {

        .not-mo {
            display: table-cell;
        }
    }
    &.alL {
        td {
            text-align: left;
            padding-left: 1rem;
        }
    }
}
.search-box {
    margin-bottom: .5rem;
}
$cp-cs-select: 'cs-select';
.#{$cp-cs-select} {
    display: inline-block;
    width: 30%;
    position: relative;
    background: #fff;
    select {
        width: 100%;
        border: 1px solid #ccc;
        @include fs(height, 320px, 1200px, 30px, 43px);
        @include fs(line-height, 320px, 1200px, 30px, 43px);
        @include fs(font-size, 320px, 1200px, 12px, 16px);
        vertical-align: middle;
        padding-left: 5px;
        padding-right: 29px;
        font-family: inherit;
        background: image('cs_select.png') no-repeat right center;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    // IE 10, 11 네이티브화살표 숨기기
    select::-ms-expand {
        display: none;
    }
    &:before {
        content: '\f078';
        font-family: FontAwesome;
    	position: absolute;
    	top: 50%;
    	right: 20px;
        font-size: 14px;
        transform: translateY(-50%);
    	//width: 0;
    	//height: 0;
    	//margin-top: 0;
    	//border-left: 5px solid transparent;
    	//border-right: 5px solid transparent;
    	//border-top: 5px solid #333;
    }
    &__disabled {
        select {
            border: 1px solid #D6D6D6;
            color: #D6D6D6;
        }
    }
    &.full {
        width: 100%;
    }
}
.table-top {
    @include Noto-Light;
    @include fs(font-size, 320px, 1200px, 9px, 14px);
    margin-bottom: .5rem;
    .fa { color: $pcolor; }
}
.accent {
    @include Noto-Bold;
    color: $color-blue;
}
.cs-info {
    color: red;
    @include fs(font-size, 320px, 1200px, 14px, 18px);
}
.btn-list {
    margin-top: 1rem;
    &.alC {
        text-align: center;
    }
}
