// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  appearance: none;
  box-sizing: border-box;
    @include Noto-Regular;
  border-radius: 0;
  border: 0.1rem solid $color-white;
  padding: $btn-padding;

  &:focus {
    border-color: $color-black;
  }

  @include placeholder {
    color: $color-white;
  }
}

select {
  border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  @include Noto-Regular;
}
