// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

*,
*:before,
*:after {
  box-sizing: border-box;
}
* { padding: 0; margin: 0; }
html {
  font-size: 62.5%;
}

body {
  @include font-smoothing(on);
  color: $color-black;
  background: $color-white;
  line-height: 1.2;
  min-width: 320px;
  @include Noto-Regular;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, /*sub, sup,*/ tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
    /*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed,  footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
img, fieldset, form, label, legend, figure, figcaption, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; }
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner { padding:0; border:0; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ''; }
img { line-height: 0; font-size: 0; }
a { text-decoration: none; color: inherit;}
table {
    empty-cells: show;
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
