

/* Single property */
html {
  @include fs(font-size, 320px, 1200px, 12px, 16px);
}

/* Multiple properties with same values */
h1,h2,h3,h4,h5 {
  @include fs((padding-top, padding-bottom), 20rem, 75rem, 0rem, .5rem);
}

// Typography
//
// Base font styles for headings and links.

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  @include Noto-Bold;
  //margin: 0 0 0.5em;
  //color: var(--headings-color);
}

h1, .h1 {
  font-size: $headings-sizes-h1;
}

h2, .h2 {
  font-size: $headings-sizes-h2;
}

h3, .h3 {
  font-size: $headings-sizes-h3;
}

h4, .h4 {
  font-size: $headings-sizes-h4;
}

h5, .h5 {
  font-size: $headings-sizes-h5;
}

h6, .h6 {
  font-size: $headings-sizes-h6;
}

p {
  margin: 0 0 1em;
}

a {
  color: inherit;
  &:focus {
    text-decoration: none;
  }
  //@include media('hover') {
  //  &:hover {
  //    text-decoration: none;
  //  }
  //}
}
