/*
html {
    @include fs(font-size, 320px, 1200px, 12px, 16px);
}
h1,h2,h3,h4,h5 {
    @include fs((padding-top, padding-bottom), 20rem, 75rem, 0rem, .5rem);
}
*/
.wrapper {
    &.menu-opened {
        .kv-wrap,
        .contents {
            margin-top: 60px;
        }
    }
}
.kv-wrap {
    padding: 0;
    max-width: 1120px;
    margin: 0 auto 1rem;
    @include mq(sm) {
        margin: 0 auto 1rem;
        padding: 0;
    }
    @include mq(1120px) {
        padding: 0;
    }
}
.kv {
    .pc {
        display: none;
        @include mq(sm) {
            display: block;
        }
    }
    .mo {
        display: block;
        @include mq(sm) {
            display: none;
        }
    }
}
.kv-noti {
    position: relative;
    margin-bottom: 1rem;
    .kv {
        position: relative;
    }
    .pos {
        position: absolute;
        left: 2%;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        @include mq(sm) {
            left: 30%;
        }
        .tit-noti {
            @include fs(font-size, 320px, 1200px, 20px, 60px);
            letter-spacing: -1px;
            text-shadow: 0.1rem 0.5rem 0.5rem rgba(255, 255, 255, 0.3);
            display: block;
            @include fs((margin-bottom), 20rem, 75rem, 0rem, .5rem);
        }
        dt {
            @include fs(font-size, 320px, 1200px, 12px, 20px);
            color: $pcolor;
            @include Noto-Bold;
            vertical-align: top;
            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: image('icon_noti.png') no-repeat left top;
                background-size: cover;
                margin-right: 0.5rem;
                vertical-align: top;
                @include mq(sm) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        dd {
            @include fs(font-size, 320px, 1200px, 9px, 14px);
            strong {
                @include Noto-Regular;
                color: $pcolor;
            }
        }
    }
}
.pcolor {
    color: $pcolor;
}
.tit {
    //border-bottom: 2px solid $pcolor;
    text-align: center;
    @include fs(margin-bottom, 20rem, 70rem, .5rem, 2.5rem);
    //text-shadow: 0 2px white, 0 3px #777;
    //text-shadow: 0px 1px 0px rgb(204, 204, 204),
    // 0px 2px 0px rgb(201, 201, 201),
    // 0px 3px 0px rgb(187, 187, 187),
    // 0px 4px 0px rgb(185, 185, 185),
    // 0px 5px 0px rgb(170, 170, 170),
    // 0px 6px 1px rgba(0, 0, 0, 0.1),
    // 0px 0px 5px rgba(0, 0, 0, 0.1),
    // 0px 1px 3px rgba(0, 0, 0, 0.3),
    // 0px 3px 5px rgba(0, 0, 0, 0.2),
    // 0px 5px 10px rgba(0, 0, 0, 0.25),
    // 0px 20px 20px rgba(0, 0, 0, 0.15);
    span {
        color: $pcolor;
        @include fs(font-size, 320px, 1120px, 12px, 22px);
    }
}
