<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    <div class="contents">
        <h1 class="tit">고객센터<span>(Customer Center)</span></h1>
        <!-- Start  Tab -->
        <ul class="tabstyle">
            <li><a href="homeboard.html">공지사항</a></li>
            <li class="current"><a href="center.html">1:1문의</a></li>
        </ul>
        <!-- Start 추천인 -->
        <div class="table-top"><i class="fa fa-exclamation-circle"></i> 센터 운영시간은 오전 10시부터 오후 8시 입니다.</div>
        <div class="tbl-list">
            <table>
                <col style="width: 5%">
                <col style="width: auto">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 10%">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">test</a></td>
                    <td>홍길동</td>
                    <td>20202-08-09</td>
                    <td><a href="#" class="del">삭제 <i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">test</a></td>
                    <td>홍길동</td>
                    <td>20202-08-09</td>
                    <td><a href="#" class="del">삭제 <i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">test</a></td>
                    <td>홍길동</td>
                    <td>20202-08-09</td>
                    <td><a href="#" class="del">삭제 <i class="fa fa-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- End 추천인 -->
        <!-- Start  페이징 -->
        @@include('../partials/components/paging.html')
        <!-- End  페이징 -->
     </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
