<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    @@include('../partials/components/noti-point.html')
    <div class="contents">
        <h1 class="tit">별 포인트<span>(Star Point)</span></h1>
        <!-- Start  내역 -->
        @@include('../partials/components/status.html')
        <!-- End  내역 -->
        <!-- Start  Tab -->
        <ul class="tabstyle">
            <li><a href="charge.html">구매</a></li>
            <li class="current"><a href="charge_list.html">구매내역</a></li>
            <li><a href="transfer.html">보내기</a></li>
            <li><a href="transfer_list.html">보내기 내역</a></li>
        </ul>
        <div class="tbl-list">
            <table class="tbl_data tbl_data_col">
                <caption></caption>
                <colgroup>
                    <col style="width:10%;">
                    <col style="width:15%;">
                    <col style="width:20%;">
                    <col style="width:20%;">
                    <col style="width:25%;">
                    <col style="width:15%;">
                </colgroup>
                <thead>
                <tr>
                    <th class="not-mo">No</th>
                    <th>신청포인트</th>
                    <th>입금금액</th>
                    <th>입금자명</th>
                    <th>입금일자</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="not-mo"> 1</td>
                    <td>1,000 p</td>
                    <td>100,000 원</td>
                    <td>김정숙</td>
                    <td>20.07.19 14:05:57</td>
                    <td>완료</td>
                </tr>
                <tr>
                    <td class="not-mo"> 2</td>
                    <td>500 p</td>
                    <td>50,000 원</td>
                    <td>김정숙</td>
                    <td>20.06.26 20:01:20</td>
                    <td>완료</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Start  페이징 -->
        @@include('../partials/components/paging.html')
        <!-- End  페이징 -->
        
     </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
