<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')

<body class="mlogin">
    @@include('../partials/components/entry-section.html')
    <div class="login-box">
        <p class="login-logo"><img src="../../images/logo_white.png" alt="Stella"></p>
        <div class="login-wrap">
            <div class="login-html">
                <form action="">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">User ID</label> <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="로그인">
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <input id="sign-up-user" type="text" class="input" placeholder="아이디 입력" >
                            <label class="label">아이디 중복확인</label>
                        </div>
                        <div class="group">
                            <input id="sign-up-pass" type="password" class="input" data-type="password" placeholder="닉네임 입력">
                            <label class="label">닉네임 중복확인</label>
                        </div>
                        <div class="group">
                            <input id="sign-up-repass" type="password" class="input" data-type="password" placeholder="비밀번호 입력">
                        </div>
                        <div class="group">
                            <input id="sign-up-repass1" type="password" class="input" data-type="password" placeholder="비밀번호 확인">
                        </div>
                        <div class="group">
                            <input id="sign-up-name" type="password" class="input" data-type="password" placeholder="이름 입력">
                        </div>
                        <div class="group">
                            <input id="sign-up-name1" type="password" class="input" data-type="password" placeholder="추천인 입력">
                        </div>
                        <div class="group full">
                            <span class="cs-select">
                                <select name="" id="">
                                    <option value="">010</option>
                                </select>
                            </span>
                            <input type="password" class="input" style="width: 30%; display: inline-block;">
                            <input type="password" class="input" style="width: 30%; display: inline-block;">
                        </div>
                        <div class="group full">
                            <input id="sign-up-name2" type="password" class="input" data-type="password" placeholder="거래은행 입력">
                        </div>
                        <div class="group full">
                            <input id="sign-up-name3" type="password" class="input" data-type="password" placeholder="계좌번호 입력">
                        </div>
                        <div class="group full">
                            <input type="submit" class="button" value="회원가입">
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    


@@include('../partials/scripts/common.html')

</body>
</html>
