<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    <div class="kv-wrap">
        <ul class="bxslider">
            <li>
                <div class="kv">
                    <div class="pc"><img src="@@webRoot/images/kv_1.jpg" alt=""></div>
                    <div class="mo"><img src="@@webRoot/images/kv_1mo.jpg" alt=""></div>
                </div>
                <div class="pos">
                    <strong>Aries</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequatur dignissimos error eum ex fuga fugiat illum in </p>
                </div>
            </li>
            <li>
                <div class="kv">
                    <div class="pc"><img src="@@webRoot/images/kv_2.jpg" alt=""></div>
                    <div class="mo"><img src="@@webRoot/images/kv_2mo.jpg" alt=""></div>
                </div>
                <div class="pos">
                    <strong>Taurus</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequatur dignissimos error eum ex fuga fugiat illum in </p>
                </div>
            </li>
            <li>
                <div class="kv">
                    <div class="pc"><img src="@@webRoot/images/kv_3.jpg" alt=""></div>
                    <div class="mo"><img src="@@webRoot/images/kv_3mo.jpg" alt=""></div>
                </div>
                <div class="pos">
                    <strong>Leo</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequatur dignissimos error eum ex fuga fugiat illum in </p>
                </div>
            </li>
            <li>
                <div class="kv">
                    <div class="pc"><img src="@@webRoot/images/kv_4.jpg" alt=""></div>
                    <div class="mo"><img src="@@webRoot/images/kv_4mo.jpg" alt=""></div>
                </div>
                <div class="pos">
                    <strong>Scorpius</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequatur dignissimos error eum ex fuga fugiat illum in </p>
                </div>
            </li>
            <li>
                <div class="kv">
                    <div class="pc"><img src="@@webRoot/images/kv_5.jpg" alt=""></div>
                    <div class="mo"><img src="@@webRoot/images/kv_5mo.jpg" alt=""></div>
                </div>
                <div class="pos">
                    <strong>Sagittarius</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequatur dignissimos error eum ex fuga fugiat illum in </p>
                </div>
            </li>
        </ul>

    </div>
    <div class="contents">
         <ul class="main-item">
            <li>
                <strong>마켓</strong>
                <p>별포인트 구매 후 별자리를 구매하세요.</p>
                <div class="btn-wrap">
                    <a href="market.html" class="btn btn-line full"><span>예약하기</span></a>
                </div>
            </li>
            <li>
                <strong>매칭정보</strong>
                <p>판매, 구매, 보유현황을 알아보세요.</p>
                <div class="btn-wrap">
                    <a href="matching_s.html" class="btn btn-line half"><span>판매현황</span></a>
                    <a href="matching.html" class="btn btn-line half"><span>구매현황</span></a>
                    
                </div>
            </li>
            <li>
                <strong>거래내역</strong>
                <p>나의 거래, 포인트 내역을 확인해 보세요.</p>
                <div class="btn-wrap">
                    <a href="storage.html" class="btn btn-line three"><span>구매내역</span></a>
                    <a href="transaction.html" class="btn btn-line three"><span>거래내역</span></a>
                    <a href="wd_list.html" class="btn btn-line three"><span>포인트내역</span></a>
                </div>
            </li>
            <li>
                <strong>추천인</strong>
                <p>추천인에게 포인트를 보내주세요.</p>
                <div class="btn-wrap">
                    <a href="introducer.html" class="btn btn-line half"><span>추천인</span></a>
                    <a href="recom_transfer.html" class="btn btn-line half"><span>마일리지전환</span></a>
                </div>
            </li>
            <li>
                <strong>별포인트</strong>
                <p>별포인트 구매, 보내기를 할 수 있어요.</p>
                <div class="btn-wrap">
                    <a href="charge.html" class="btn btn-line half"><span>별포인트 구매</span></a>
                    <a href="#" class="btn btn-line half"><span>별포인트 보내기</span></a>
                </div>
            </li>
            <li>
                <strong>고객센터</strong>
                <p>별자리소식, 1:1문의를 하실 수 있어요.</p>
                <div class="btn-wrap">
                    <a href="homeboard.html" class="btn btn-line half"><span>공지사항</span></a>
                    <a href="center.html" class="btn btn-line half"><span>1:1문의</span></a>
                </div>
            </li>
        </ul>
    </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
