<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    
    <div class="kv-wrap">
        <div class="kv-noti">
            <div class="kv">
                <div class="pc"><img src="@@webRoot/images/kv_noti.jpg" alt=""></div>
                <div class="mo"><img src="@@webRoot/images/kv_notimo.jpg" alt=""></div>
            </div>
            <div class="pos noti">
                <strong class="tit-noti">Notice</strong>
                <dl>
                    <dt>주의사항</dt>
                    <dd>매일 오전 11시 예약마감 <strong>매일 오후 1시 매칭시작 (전일 오전 11시 ~ 금일 오전 11시 예약분에 한해 순차적 진행)</strong></dd>
                    <dd>입금이 지연되는 경우 판매자는 구매자에게 연락을 취해 확인하시기 바랍니다.
                        <strong>구매 당일 오후 8시까지 입금이 않되면</strong> 구매거절로 처리, 익일 다른 예약자에게 판매
                    </dd>
                    <dd>구매거절 시 해당 계정 일시 동결<strong>(포인트 1,000개 징수 후 동결된 계정 활성화)</strong></dd>
                </dl>
            </div>
        </div>
    </div>
    
    <div class="contents">
        <dl class="pg-info">
            <dt></dt>
            <dd></dd>
        </dl>
        <div class="grid-wrap">
            <ul class="rig columns-4">
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_1.png" alt=""></div>
                    <dl>
                        <dt>(산)양자리(Aries)</dt>
                        <dd>보유기간: 4일 (이율; 12%)</dd>
                        <dd>가격: 60,000원 ~ 360,000원</dd>
                        <dd>포인트 수수료: 25P</dd>
                        <dd class="btn-list"><a href="#" class="btn-ani orange">매칭예약중</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_2.png" alt=""></div>
                    <dl>
                        <dt>황소자리(Taurus)</dt>
                        <dd>보유기간: 5일 (이율; 14%)</dd>
                        <dd>가격: 120,000원 ~ 600,000원</dd>
                        <dd>포인트 수수료: 50P</dd>
                        <dd class="btn-list"><a href="#" class="btn-ani blue">예약하기</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_3.png" alt=""></div>
                    <dl>
                        <dt>사자자리(Leo)</dt>
                        <dd>보유기간: 6일 (이율; 16%)</dd>
                        <dd>가격: 300,000원 ~ 1,200,000원</dd>
                        <dd>포인트 수수료: 85P</dd>
                        <dd class="btn-list"><a href="#" class="btn-ani blue">예약하기</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_4.png" alt=""></div>
                    <dl>
                        <dt>전갈자리(Scorpius)</dt>
                        <dd>보유기간: 7일 (이율; 18%)</dd>
                        <dd>가격: 500,000원 ~ 2,000,000원</dd>
                        <dd>포인트 수수료: 120P</dd>
                        <dd class="btn-list"><a href="#" class="btn-ani blue">예약하기</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_5.png" alt=""></div>
                    <dl>
                        <dt>궁수자리(Sagittarius)</dt>
                        <dd>보유기간: 8일 (이율; 20%)</dd>
                        <dd>가격: 1,000,000원 ~ 3,600,000원</dd>
                        <dd>포인트 수수료: 150P</dd>
                        <dd class="btn-list"><a href="#" class="btn-ani orange">매칭예약중</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
