<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    <!-- Start  noti box -->
    @@include('../partials/components/noti-box.html')
    <!-- End  noti box -->
    <div class="contents">
        <h1 class="tit">마켓 <span>(Market Infomation)</span></h1>
        <!-- Start  내역 -->
        @@include('../partials/components/status.html')
        <!-- End  내역 -->
        <div class="grid-wrap">
            <ul class="rig">
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_1.png" alt=""></div>
                    <dl>
                        <dt>(산)양자리(Aries)</dt>
                        <dd>보유기간: 4일 (이율; 12%)</dd>
                        <dd>가격: 60,000원 ~ 360,000원</dd>
                        <dd>포인트 수수료: 25P</dd>
                        <dd class="btn-list"><a class="efBtn btn-orange reserve-ing" href="#" title="Learn More">매칭예약중</a></dd>
                        <!--<dd class="btn-list"><a class="efBtn btn-grey reserve-ing" href="#" title="Learn More">매칭예약중</a></dd>
                        <dd class="btn-list"><a class="efBtn btn-dark reserve-ing" href="#" title="Learn More">매칭예약중</a></dd>-->
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_2.png" alt=""></div>
                    <dl>
                        <dt>황소자리(Taurus)</dt>
                        <dd>보유기간: 5일 (이율; 14%)</dd>
                        <dd>가격: 120,000원 ~ 600,000원</dd>
                        <dd>포인트 수수료: 50P</dd>
                        <dd class="btn-list"><a href="#" class="efBtn btn-blue reserve">예약하기</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_3.png" alt=""></div>
                    <dl>
                        <dt>사자자리(Leo)</dt>
                        <dd>보유기간: 6일 (이율; 16%)</dd>
                        <dd>가격: 300,000원 ~ 1,200,000원</dd>
                        <dd>포인트 수수료: 85P</dd>
                        <dd class="btn-list"><a href="#" class="efBtn btn-blue">예약하기</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_4.png" alt=""></div>
                    <dl>
                        <dt>전갈자리(Scorpius)</dt>
                        <dd>보유기간: 7일 (이율; 18%)</dd>
                        <dd>가격: 500,000원 ~ 2,000,000원</dd>
                        <dd>포인트 수수료: 120P</dd>
                        <dd class="btn-list"><a href="#" class="efBtn btn-blue">예약하기</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_5.png" alt=""></div>
                    <dl>
                        <dt>궁수자리(Sagittarius)</dt>
                        <dd>보유기간: 8일 (이율; 20%)</dd>
                        <dd>가격: 1,000,000원 ~ 3,600,000원</dd>
                        <dd>포인트 수수료: 150P</dd>
                        <dd class="btn-list"><a href="#" class="efBtn btn-orange reserve-cancel">예약취소</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
     </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
