<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    @@include('../partials/components/noti-mileage.html')
    <div class="contents">
        <h1 class="tit">추천인 <span>(Introducer List)</span></h1>
        <!-- Start  내역 -->
        @@include('../partials/components/status.html')
        <!-- End  내역 -->
        <!-- Start  Tab -->
        <ul class="tabstyle">
            <li><a href="introducer.html">추천인</a></li>
            <li class="current"><a href="recomPoint_list.html">추천인마일리지</a></li>
            <li><a href="recom_transfer.html">마일리지전환</a></li>
        </ul>
        <!-- Start 추천인 -->
        <!--<div class="table-top"><i class="fa fa-exclamation-circle"></i> 아이디를 클릭하시면 별포인트 보내기가 가능합니다.</div>-->
        <div class="tbl-list">
            <table>
                <thead>
                <tr>
                    <th class="not-mo">No</th>
                    <th class="not-mo">아이디</th>
                    <th class="not-mo">구분</th>
                    <th>이전마일리지</th>
                    <th>마일리지</th>
                    <th>최종마일리지</th>
                    <th>내역</th>
                    <th>추천인</th>
                    <th>일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="9"><strong>추천인 내역이 없습니다. </strong></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td class="not-mo">1</td>
                    <td class="not-mo">seafar0520</td>
                    <td class="not-mo">구분</td>
                    <td>이전마일리지</td>
                    <td>마일리지</td>
                    <td>최종마일리지</td>
                    <td>내역</td>
                    <td>추천인</td>
                    <td>일시</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- End 추천인 -->


    </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
