<!DOCTYPE html>
<html lang="ko">
@@include('../partials/head/head.html')
<body>

<div class="wrapper">
    @@include('../partials/include/header.html')
    <div class="contents">
        <h1 class="tit">거래내역 <span>(Transaction List)</span></h1>
        <!-- Start  내역 -->
        @@include('../partials/components/status.html')
        <!-- End  내역 -->
        <!-- Start  Tab -->
        <ul class="tabstyle">
            <li class="current"><a href="storage.html">구매내역</a></li>
            <li><a href="transaction.html">거래내역</a></li>
            <li><a href="wd_list.html">포인트내역</a></li>
        </ul>
        <!-- End  Tab -->
        <div class="grid-wrap hor">
            <ul class="rig">
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_1.png" alt=""></div>
                    <dl>
                        <dt>(산)양자리(Aries)<br>A01_123456789012</dt>
                        <dd>구매일시: 2020-07-24 13:07</dd>
                        <dd>가격: 233,000원</dd>
                        <dd class="line">다음매칭: 2020-07-28</dd>
                        <dd>예상가격: 261,700원</dd>
                        <dd class="btn-list"><a class="efBtn btn-dark end" href="#" title="Learn More">구매완료</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_2.png" alt=""></div>
                    <dl>
                        <dt>황소자리(Taurus)<br>A01_123456789012</dt>
                        <dd>구매일시: 2020-07-24 13:07</dd>
                        <dd>가격: 233,000원</dd>
                        <dd class="line">다음매칭: 2020-07-28</dd>
                        <dd>예상가격: 261,700원</dd>
                        <dd class="btn-list"><a class="efBtn btn-dark end" href="#" title="Learn More">구매완료</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_3.png" alt=""></div>
                    <dl>
                        <dt>사자자리(Leo)<br>A01_123456789012</dt>
                        <dd>구매일시: 2020-07-24 13:07</dd>
                        <dd>가격: 233,000원</dd>
                        <dd class="line">다음매칭: 2020-07-28</dd>
                        <dd>예상가격: 261,700원</dd>
                        <dd class="btn-list"><a class="efBtn btn-dark end" href="#" title="Learn More">구매완료</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_4.png" alt=""></div>
                    <dl>
                        <dt>전갈자리(Scorpius)<br>A01_123456789012</dt>
                        <dd>구매일시: 2020-07-24 13:07</dd>
                        <dd>가격: 233,000원</dd>
                        <dd class="line">다음매칭: 2020-07-28</dd>
                        <dd>예상가격: 261,700원</dd>
                        <dd class="btn-list"><a class="efBtn btn-dark end" href="#" title="Learn More">구매완료</a></dd>
                    </dl>
                </li>
                <li>
                    <div class="character"><img src="@@webRoot/images/cha_5.png" alt=""></div>
                    <dl>
                        <dt>궁수자리(Sagittarius)<br>A01_123456789012</dt>
                        <dd>구매일시: 2020-07-24 13:07</dd>
                        <dd>가격: 233,000원</dd>
                        <dd class="line">다음매칭: 2020-07-28</dd>
                        <dd>예상가격: 261,700원</dd>
                        <dd class="btn-list"><a class="efBtn btn-dark end" href="#" title="Learn More">구매완료</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- Start  페이징 -->
        @@include('../partials/components/paging.html')
        <!-- End  페이징 -->
     </div>
    @@include('../partials/include/footer.html')
</div>

@@include('../partials/scripts/common.html')

</body>
</html>
