@charset "utf-8";
/* ------------------------- Button & Icon ------------------------- */
// Button
//
// Styleguide 1.0

// markup:
//
// Styleguide 1.1

.btn {
	&.t4 {
		width: 100px;
	}
	&.t2 {
		width: 70px;
	}
}
$btnThin:       (sm: 36px, md: 60px, lg: 36px);
$btnMiddle:     (sm: 64px, md: 70px, lg: 64px);
$btnThick:      (sm: 64px, md: 100px, lg: 70px);
$btnvVeryThick: (sm: 70px, md: 105px, lg: 70px);
$btnLine:       (sm: 36px, md: 42px, lg: 24px);
$font3522:      (sm: 22px, md: 35px, lg: 22px);
$font2114:      (sm: 14px, md: 21px, lg: 14px);

$cp-btn: 'btn';
.#{$cp-btn} {
	background: #424242;
	color: #fff;
	@include fs(font-size, $step);
	//@include fs(width, (sm: 91px, md: 135px, lg: 91px));
	@include fs(height, $btnThin);
	@include fs(line-height, $btnThin);
	@include fs(font-size, $font2114);
	display: inline-block;
	@include Noto-Bold;
	vertical-align: top;
	//padding: 0 15px;
	&.#{$cp-btn}--red {
		background: $c-acc;
	}
	&.#{$cp-btn}--light {
		background: $btn-cancel;
		color: #424242;
	}
	&.#{$cp-btn}--thin {
		@include fs(height, $btnThin);
		@include fs(line-height, $btnThin);
	}
	&.#{$cp-btn}--middle {
		@include fs(height, $btnMiddle);
		@include fs(line-height, $btnMiddle);
	}
	&.#{$cp-btn}--thick {
		@include fs(height, $btnThick);
		@include fs(line-height, $btnThick);
		@include fs(font-size, $font3522);
	}
	&.#{$cp-btn}--verythick {
		@include fs(height, $btnvVeryThick);
		@include fs(line-height, $btnvVeryThick);
		@include fs(font-size, $font3522);
	}
	&.#{$cp-btn}--line {
		@include fs(height, $btnLine);
		@include fs(line-height, $btnLine);
		@include fs(font-size, $mapBtnS);
		border: 1px solid $formborder;
		background: #fff;
		color: $cbase;
	}
	&.#{$cp-btn}--half {
		width: 100%;
		@include mq(md) {
			width: 50%;
		}
	}
	&.#{$cp-btn}--disabled {
		background-color: $formDisable;
		opacity: .9;
	}
}
