// General stuff - only for this Pen
// Included in default style.scss - only for this Pen
// https://codepen.io/TincanPipPip/pen/KdbZjv
@mixin rm-text {
	text-indent: -9999px;
}

// Overlay specific syles
body.freeze {
	//overflow: hidden;
}
#overlay {
	overflow: hidden;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 500;
	text-align: center;
	cursor: pointer;
}
.insert {
	box-sizing: border-box;
	cursor: default;
	display: block;
	background: #fff;
	padding: 0;
	width: 100%;
	max-width: 1000px;
	border-radius: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
	position: relative;
	vertical-align: top;
	.title {
		background: #0A7891;
		position: relative;
		padding: 14px 0 13px 20px;
		h1 {
			color: #fff;
			@include font-size(2.2);
			@include Noto-Regular;
		}
	}
	.lay-cont {
		padding: 30px 30px 10px;
	}
	.close-x {
		display: block;
		position: absolute;
		top: 15px;
		right: 20px;
		&:before {
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
			background: image('icon_set.png') no-repeat -261px 0;
		}
	}
	.btn.js-closeLay {
		min-width: 160px;
	}
	// styling is completely custom, can be whatever
	&.full-screen {
		max-width: 100%;
		padding: 0;
		background: none;
		img {
			width: 100%;
			height: auto;
		}
	}
	&.hidden {
		//display: none !important;
		visibility: hidden !important;
	}
}
.lay-cont {
	.bus-info {
		text-align: center;
		.desc {
			border-bottom: 1px solid #f8f8f8;
			margin: 20px 0;
			padding-bottom: 20px;
			&:before {
				content: '';
				display: inline-block;
				width: 26px;
				height: 26px;
				background: image('icon_set.png') no-repeat -52px -202px;
				vertical-align: middle;
			}
		}
	}
	.btn-list {
		margin: 50px 0 30px;
		position: relative;
	}
}
