@charset "utf-8";
/* ------------------------- 연혁  ------------------------- */
.history-desc {
	position: relative;
	padding-bottom: 75px;
	background: #fff;
	.history-step {
		background: #16a1bc;
		position: absolute;
		right: 0;
		bottom: 28px;
		width: 415px;
		padding: 35px 40px;
		color: #fff;
		strong {
			@include Noto-Medium;
			@include font-size(2.4);
			display: block;
			margin-bottom: 10px;
		}
	}
}
.tab-history {
	.tabMenu {
		margin-bottom: 30px;
	}
	.history-cont {
		width: 100%;
		overflow: hidden;
		.his-list {
			float: left;
			width: 530px;
			position: relative;
			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 1px;
				top: 10px;
				right: 10px;
				bottom: 10px;
				border-right: 1px solid #e3e3e3;
			}
			&.high {
				.his-item {
					margin-bottom: 60px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.his-thumb {
			float: right;
			width: 440px;
			li {
				margin-top: 135px;
				figcaption {
					@include font-size(1.4);
					@include Noto-Light;
					color: $y-base;
					line-height: 1.3;
					margin-top: 10px;
				}
			}
			&.narrow {
				li {
					margin-top: 40px;
				}
			}
		}
		
	}
}
.his-item {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	dt {
		float: right;
		width: 125px;
		@include font-size(1.3);
		line-height: 24px;
		display: block;
		position: relative;
		text-align: right;
		padding-right: 35px;
		&:after {
			content: '';
			display: inline-block;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			position: absolute;
			right: 5px;
			top: 50%;
			margin-top: -7px;
			background: #e3e3e3;
		}
	}
	dd {
		float: left;
		width: calc(100% - 150px);
		@include font-size(1.5);
		color: $y-base;
		line-height: 24px;
		strong {
			color: #177c91;
		}
		p {
			line-height: 1.5;
			margin-bottom: 5px;
		}
	}
	&.aos-animate {
		dt {
			color: #177c91;
			&:after {
				content: '';
				display: inline-block;
				width: 7px;
				height: 7px;
				border: 7px solid #176a7a;
				border-radius: 50%;
				position: absolute;
				right: 0;
				top: 2px;
				margin-top: 0;
				background: #fff;
				z-index: 2;
				transition: all 0.3s ease-out 0.4s;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.cont-sec {
	.history {
		width: 100%;
		overflow: hidden;
		> li {
			width: 100%;
			overflow: hidden;
			padding-top: 80px;
			&:nth-child(2n) {
				//background: #f00;
				.year {
					float: right;
					margin-right: 0;
					margin-left: 34px;
				}
				
			}
		}
		.year {
			float: left;
			width: 370px;
			margin-right: 34px;
			figure {
				position: relative;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			figcaption {
				position: absolute;
				left: 30px;
				top: -40px;
				@include font-size(7.0);
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				color: #16a1bc;
				line-height: 1;
			}
		}
		.date {
			//width: 100%;
			width: 620px;
			float: right;
			overflow: hidden;
			dt {
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				@include font-size(1.8);
				color: #333;
				float: left;
				width: 70px;
			}
			dd {
				float: left;
				width: 550px;
				padding-right: 20px;
				box-sizing: border-box;
				margin-bottom: 30px;
				@include font-size(1.6);
				color: #666;
				letter-spacing: -1px;
				strong {
					color: #177c91;
					@include Noto-DemiLight;
					
				}
			}
		}
	}
}