@charset "utf-8";
/* ------------------------- THEME ------------------------- */
$theme: (
	'theme1': #e7380c,
	'theme2': #f39700,
	'theme3': #751384,
	'theme4': #00a73b,
	'theme5': #0080cc,
	'theme6':  #cc007f
);
$kv: (
	//'kv_foundation': kv_foundation,    // 학교법인
	//'kv_chief': kv_chief,              // 총장실
	//'kv_overview': kv_overview,        // 대학개요
	//'kv_univ-org': kv_univ_org,        // 대학기관
	//'kv_ci': kv_ci,                    // 대학상징
	//'kv_report': kv_report,            // 대학현황
	//'kv_media': kv_media,              // 캠퍼스안내
	//'kv_campus': kv_campus,            // 무도대학
	//'kv_dept': kv_dept,                 // 체육과학대학
	//'kv_ui': kv_ui,                 // 체육과학대학
	'kv-intro': kv_intro,
	'kv-ac': kv_ac,
	'kv-dept': kv_dept,
	'kv-lab': kv_lab,
	'kv-support': kv_support,
	'kv-campus': kv_campus,
	'kv-story': kv_story
);
.kv {
	@each $name, $url in $kv {
		&.#{$name} {
			background: image('kv/#{$url}.jpg') no-repeat center top transparent;
			background-size: cover;
		}
	}
}
@each $name, $color in $theme {
	&.#{$name} {
		.kv {
			&--inner {
				.kv__dept {
					background-color: $color;
				}
			}
		}
		.tab {
			.tab-bar {
				& > li {
					&.ui-tabs-active {
						color: lighten($color, 10%);
					}
				}
			}
		}
		.swiper-multi-wrap {
			.swiper-slide {
				&.swiper-slide-active {
					a {
						background: lighten($color, 10%);;
					}
				}
				a:hover {
					background: lighten($color, 10%);
				}
			}
		}
		.variable-width {
			.slider__item.slick-current {
				figure {
					figcaption {
						background: lighten($color, 10%);
					}
				}
			}
		}
	}
}