<div class="menu pc">
    <div class="util-wrap">
        <div class="inner">
            <ul class="util">
                <li><a href="#">로그아웃</a></li>
                <li><a href="modify.html">MY페이지</a></li>
                <li><a href="message.html">쪽지함</a></li>
            </ul>
        </div>
    </div>
    <div class="logo-top inner">
        <strong class="logo"><a href="index.html"><img src="@@webRoot/images/top_logo.png" alt="Stella"></a></strong>
        <ul class="my-info">
            <li><a href="#">Abc123(스타벅스)</a></li>
            <li><a href="#" class="point"><strong>100</strong> point</a></li>
            <li><a href="#" class="mileage"><strong>2,000</strong> mileage</a></li>
        </ul>
    </div>
    <div class="nav-wrap">
        <div class="inner">
            <ul class="nav">
                <li><a href="#">마켓</a></li>
                <li><a href="#">매칭정보</a></li>
                <li><a href="#">거래내역</a></li>
                <li><a href="#">추천인</a></li>
                <li><a href="#">별 포인트</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="menu mobile">
    <div class="window">
        <div class="header">
            <div class="burger-container">
                <a href="#" id="burger">
                    <div class="bar topBar"></div>
                    <div class="bar btmBar"></div>
                </a>
            </div>
            <div class="icon icon-stella"><a href="index.html"><img src="@@webRoot/images/logo_white.png" alt="Stella"></a></div>
            <ul class="menu">
                <li class="menu-item">&nbsp;</li>
                <li class="menu-item">
                    <div class="m-info">
                        <a href="#" class="info-name">ABc123(스타벅스)</a>
                        <span class="mypg">
                                <a href="#" class="inline ">마이페이지 | </a>
                                <a href="#" class="inline ">쪽지함</a>
                            </span>
                    </div>
                    <a href="#" class="inline point half"><strong>100</strong> </a>
                    <a href="#" class="inline mileage half"><strong>2,000</strong> </a>
                </li>
                <li class="menu-item"><a href="#">마켓</a></li>
                <li class="menu-item"><a href="#">매칭정보</a></li>
                <li class="menu-item"><a href="#">거래내역</a></li>
                <li class="menu-item"><a href="#">추천인</a></li>
                <li class="menu-item"><a href="#">별 포인트</a></li>
                <li class="menu-item"><a href="#">고객센터</a></li>
            </ul>
            <div class="shop icon icon-bag"></div>
        </div>
    </div>
</div>
