<dl>
    <dt>버튼 오랜지</dt>
    <dd class="btn-list">
        <a href="#" class="efBtn btn-orange reserve">예약</a>
        <a href="#" class="efBtn btn-orange reserve-ing">예약중</a>
        <a href="#" class="efBtn btn-orange reserve-cancel">예약취소</a>
        <a href="#" class="efBtn btn-orange send">보내기</a>
        <a href="#" class="efBtn btn-orange transfer">전환하기</a>
        <a href="#" class="efBtn btn-orange end">완료</a>
        <a href="#" class="efBtn btn-orange app">신청</a>
        <a href="#" class="efBtn btn-orange wait">대기</a>
    </dd>
</dl>
<dl>
    <dt>버튼 블루</dt>
    <dd class="btn-list">
        <a href="#" class="efBtn btn-blue reserve">예약</a>
        <a href="#" class="efBtn btn-blue reserve-ing">예약중</a>
        <a href="#" class="efBtn btn-blue reserve-cancel">예약취소</a>
        <a href="#" class="efBtn btn-blue send">보내기</a>
        <a href="#" class="efBtn btn-blue transfer">전환하기</a>
        <a href="#" class="efBtn btn-blue end">완료</a>
        <a href="#" class="efBtn btn-blue app">신청</a>
    </dd>
</dl>
<dl>
    <dt>버튼 그레이</dt>
    <dd class="btn-list">
        <a href="#" class="efBtn btn-grey reserve">예약</a>
        <a href="#" class="efBtn btn-grey reserve-ing">예약중</a>
        <a href="#" class="efBtn btn-grey reserve-cancel">예약취소</a>
        <a href="#" class="efBtn btn-grey send">보내기</a>
        <a href="#" class="efBtn btn-grey transfer">전환하기</a>
        <a href="#" class="efBtn btn-grey end">완료</a>
        <a href="#" class="efBtn btn-grey app">신청</a>
    </dd>
</dl>
<dl>
    <dt>버튼 다크</dt>
    <dd class="btn-list">
        <a href="#" class="efBtn btn-dark reserve">예약</a>
        <a href="#" class="efBtn btn-dark reserve-ing">예약중</a>
        <a href="#" class="efBtn btn-dark reserve-cancel">예약취소</a>
        <a href="#" class="efBtn btn-dark send">보내기</a>
        <a href="#" class="efBtn btn-dark transfer">전환하기</a>
        <a href="#" class="efBtn btn-dark end">완료</a>
        <a href="#" class="efBtn btn-dark app">신청</a>
    </dd>
</dl>
