<div class="kv-wrap">
    <div class="kv-noti">
        <div class="kv">
            <div class="pc"><img src="@@webRoot/images/kv_noti.jpg" alt=""></div>
            <div class="mo"><img src="@@webRoot/images/kv_notimo.jpg" alt=""></div>
        </div>
        <div class="pos noti">
            <strong class="tit-noti">Notice</strong>
            <dl>
<!--                <dt>주의사항</dt>-->
                <dd>입금이 지연되는 경우 판매자는 구매자에게 연락을 취해 확인하시기 바랍니다. </dd>
                <dd><strong>구매 당일 오후 8시까지 입금이 않되면</strong> 구매거절로 처리, 익일 다른 예약자에게 판매</dd>
                <dd>구매거절 시 해당 계정 일시 동결 <strong>(물방울 1,000개 징수 후 동결된 계정 활성화)</strong></dd>
                <dd>판매자는 구매자의 입금증을 받은 후 2시간 이내에 판매확인을 클릭하여 캐릭터 전송</dd>
                <dd>입금 확인 완료 후 보내기를 클릭하여 거래를 마감합니다. <strong>(마감시간: 오후 8시)</strong></dd>
                <dd>보내기 미이행 시 해당 계정 일시동결 <strong>(물방울 1,000개 징수 후 동결된 계정 활성화)</strong></dd>
            </dl>
        </div>
    </div>
</div>
