<div class="kv-wrap">
    <div class="kv-noti">
        <div class="kv">
            <div class="pc"><img src="@@webRoot/images/kv_noti.jpg" alt=""></div>
            <div class="mo"><img src="@@webRoot/images/kv_notimo.jpg" alt=""></div>
        </div>
        <div class="pos noti">
            <strong class="tit-noti">Notice</strong>
            <dl>
                <dt>주의사항</dt>
                <dd>매일 오전 11시 예약마감 <strong>매일 오후 1시 매칭시작 (전일 오전 11시 ~ 금일 오전 11시 예약분에 한해 순차적 진행)</strong></dd>
                <dd>입금이 지연되는 경우 판매자는 구매자에게 연락을 취해 확인하시기 바랍니다.
                    <strong>구매 당일 오후 8시까지 입금이 않되면</strong> 구매거절로 처리, 익일 다른 예약자에게 판매
                </dd>
                <dd>구매거절 시 해당 계정 일시 동결<strong>(포인트 1,000개 징수 후 동결된 계정 활성화)</strong></dd>
            </dl>
        </div>
    </div>
</div>
