<div class="kv-wrap">
    <div class="kv-noti">
        <div class="kv">
            <div class="pc"><img src="@@webRoot/images/kv_noti.jpg" alt=""></div>
            <div class="mo"><img src="@@webRoot/images/kv_notimo.jpg" alt=""></div>
        </div>
        <div class="pos noti">
            <strong class="tit-noti">Notice</strong>
            <dl>
                <dt>주의사항</dt>
                <dd>- 신청 후 10분 이내에 실제 입금이 되지 않는 경우에는 신청하신 내용이 자동 삭제(취소)됩니다.</dd>
                <dd>- 입금자명이 다르면 입금처리가 되지 않습니다.</dd>
                <dd>- 최저 구매포인트는 500p 부터 가능합니다.</dd>
            </dl>
        </div>
    </div>
</div>
