<div class="kv-wrap">
    <div class="kv-noti">
        <div class="kv">
            <div class="pc"><img src="@@webRoot/images/kv_noti.jpg" alt=""></div>
            <div class="mo"><img src="@@webRoot/images/kv_notimo.jpg" alt=""></div>
        </div>
        <div class="pos noti">
            <strong class="tit-noti">Notice</strong>
            <dl>
                <dt>주의사항</dt>
                <dd>- 별 포인트를 받을 아이디를 정확히 입력해 주세요.</dd>
                <dd>- 보유 별 포인트 갯수가 300p 이상일 때 보내기가 가능합니다.</dd>
                <dd>- 보내는 별 포인트 최소단위는 300p부터 보내기가 가능합니다.</dd>
            </dl>
        </div>
    </div>
</div>
