<div class="status-list">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>양자리</th>
            <th>황소자리</th>
            <th>사자자리</th>
            <th>전갈자리</th>
            <th>궁수자리</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>판매대기</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th>보내기대기</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th>구매예약</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th>매칭중</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>
